/* Container Form Buy  */
.summary--buy {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary--buy p {
    font-size: 1.5rem;
    color: white;
}

.container--form {
    background-color:  rgba(189, 178, 255);;
    border: 1px solid #da7dab;
    border-radius: 5px;
    margin-top: 40px;
    padding: 10px;
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container--form h3{
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0 0 20px #da7dab;

    animation: zoomIn;
    animation-duration: 1s;
}
.container--form label {
    color: aliceblue;
}
.container--form table {
    --bs-table-bg: rgba(189, 178, 255);
    --bs-table-striped-bg: rgba(189, 178, 255);
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #da7dab;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #da7dab;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #bdb2ff;
    border-radius: 5px;
}


/* Container Generate Order */
.container--order {
    background-color:  rgba(189, 178, 255);;
    border: 1px solid #da7dab;
    border-radius: 5px;
    margin-top: 40px;
    padding: 10px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container--order:hover {
    box-shadow: 5px 10px 20px #da7dab;
    transition: all 0.7s linear;
}
.container--order h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 20px #da7dab;

    animation: zoomIn;
    animation-duration: 1s;
}
.container--order p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

/* Button */
.btn--checkout {
    background-color:  rgba(189, 178, 255);;
    border: 1px solid #da7dab;
    border-radius: 5px;
    margin: 10px;
    transition: color .15s ease-in-out;
}

/* Validate */
.validate--error {
    color: red;
}